<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <title>Graham Vickers Web Development</title>
</head>

<body>
  <h1 class="hidden">Graham Vickers Web Development</h1>
    <nav id="home" focus>
      <div>
        <img src="/images/logo_gvd.svg" alt="GVD Logo" id="logo">
      </div>
      <div>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <ul class="nav-links">
          <li><a href="#home" id="navLink">HOME</a></li>
          <li><a href="#about" id="navLink">ABOUT</a></li>
          <li><a href="#portfolioArea" id="navLink">PORTFOLIO</a></li>
          <li><a href="#contactArea" id="contact" id="navLink">CONTACT</a></li>
        </ul>
      </div>
    </nav>

    <div id="landing" animated bounceInLeft>
      <div id="intro">
        <h2>Graham Vickers</h2>
        <h4>Full Stack Developer</h4>
        <p>Creating lasting impressions is what I do.</p>
      </div>
      <img src="/images/headshot_v3.svg" alt="Headshot of Graham Vickers">
    </div>

    <div id="about">
      <h2>ABOUT ME</h2>
      <h5>My name is Graham Vickers and I'm a full stack developer based out of London, Ontario.</h5>
      <p>I enjoy all parts of the Web from designing bold and engaging UI/UX, to developing the front and back ends of websites.  When I’m not designing or coding, I can usually be found cooking up a new recipe, with friends, or out for a walk. Keep scrolling to find out more.</p>
    </div>

    <section id="portfolioArea">
      <h2>RECENT PROJECTS</h2>

      {{!-- DESIRED WAY TO LOAD DATA FOR PORTFOLIO --}}

      <div id="portfolio">
        {{#each data}}
          <div class="project">
            <div id="projectImg">
              <img src="/images/{{logo}}" alt="company log">
            </div>
            <span class="see-more" data-target="{{id}}">READ MORE</span>
          </div>
        {{/each}}
      </div>

      {{!-- BACKUP WAY TO LOAD DATA FOR PORTFOLIO --}}

      {{!-- <div id="portfolio">
        <div class="project">
          <img src="images/traa_logo.svg" alt="TRAA Logo">
          <span class="see-more">READ MORE</span>
        </div>

        <div class="project">
          <img src="images/modern_link_logo.svg" alt="Modern Link Media Logo" id="modernLink">
          <span class="see-more">READ MORE</span>
        </div>

        <div class="project">
          <img src="images/logo_thermosecurity.svg" alt="ThermoSecurity Logo">
          <span class="see-more">READ MORE</span>
        </div>
      </div> --}}


      {{!-- demo reel --}}
      <div id="demoReel">
        <h3>2020 DEMO REEL</h3>
        <a href=""></a>
        <video src="video/demo_reel.mp4" controls></video>
      </div>
 
    </section>
    
  <main>

  <section id="aboutArea">
    <div>
      <h2>WHO IS THIS GUY?</h2>
      <div id="skills">
        <div class="content">
          <img src="images/education.svg" alt="SVG Image">
          <h3>EDUCATION</h3>
          <p>∙  Fanshawe College 2018-2020, Interactive Media Design - 2 year diploma</p>
          <br>
          <p>∙  Fanshawe College 2020-2021, Interactive Media Specialist - 1 year graduate diploma</p>
        </div>

        <div class="content">
          <img src="images/hobbies.svg" alt="SVG Image">
          <h3>HOBBIES & INTERESTS</h3>
          <p>Some of my hobbies outside of Designing and Developing are golfing, photography, NFL and NCAA Football, Web Development Research, cooking, Netflix binging, traveling, and working out.</p>
        </div>

        <div class="content">
          <img src="images/designer.svg" alt="SVG Image">
          <h3>1/3 CUP DESIGNER</h3>
          <p>I am proficient in Adobe Suite, I enjoy and specialize in creating bold and engaging UI & UX. Another one of my design specialties is ‘making it pop’. I am also a passionate photographer and videographer.</p>    
        </div>

        <div class="content">
          <img src="images/developer.svg" alt="SVG Image">
          <h3>2/3 CUP DEVELOPER</h3>
          <p>I specialize in front-end web development. I love creating websites with HTML, Vue.Js, CSS and ‘making it pop’ in JavaScript. Some of my back-end specialties are Node.js, PHP, COFFEE and MySQL.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contactArea">
    <div id="contactHead">
      <h2>LET'S WORK TOGETHER</h2>
      <p>Have a question? I’d love to hear from you. Send me a message and I’ll get back to you ASAP!</p>
    </div>
    
    <div class="wrapper">
      <form action="send" method="POST">
        {{msg}}
        <div class="field">
          <input type="text" id="name" name="name" placeholder="HEY, WHAT'S YOUR NAME?" required>
          {{!-- <label for="name">Name</label> --}}
        </div>
        <div class="field">
          <input type="text" id="email" name="email" placeholder="YOUREMAIL@EXAMPLE.COM" required/>
          {{!-- <label for="email">E-Mail</label> --}}
        </div>
        <div class="field">
          <textarea id="msg" rows="4" name="msg" placeholder="LET ME KNOW WHAT I CAN DO FOR YOU..." required></textarea>
          {{!-- <label for="msg">MESSAGE</label> --}}
        </div>
        <input class="button" type="submit" value="SEND" />

      </form>
    </div>
  </section>
    
    <article id="popover">
      <div id="popoverCon">
        <div class="close"><p>x</p></div>
        <h2 class="project-title"></h2>
        <h4>The process</h4>
        <p class="project-bio"><p>
        <h3>The Tools</h3> 
        <p class="project-tools"><p>
        <img src="{{img}}" alt="" class="project-img">
        <video src="{{vid}}" class="project-vid" width="80%" controls></video>
      </div>
    </article>

  </main>
  <footer>

    <div id="social">
      <a href="https://www.instagram.com/gvixpix/" target="_blank"><img src="/images/instagram.svg" alt="Instagram" class="socialIcon"></a>
      <a href="https://www.linkedin.com/in/grahamvickers/" target="_blank"><img src="/images/linkedin.svg" alt="LinkedIn" class="socialIcon"></a>
      <a href="https://github.com/grahamvickers" target="_blank"><img src="/images/github.svg" alt="Github" class="socialIcon"></a>
    </div>

    <div>
      <p>© 2020 Copyright Graham Vickers. All Rights Reserved.</p>
    </div>
  </footer>
  

    <script src="/js/main.js"></script>
</body>
</html>